@model CRUDLogin.Models.Empresa

@{
    ViewData["Title"] = "Delete";
}

<h1 class ="display-5">Excluir empresa</h1>

<h3 class="display-6">Tem certeza de que deseja excluir a empresa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documentoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documentoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCriacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idEmpresa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Voltar a Lista</a>
    </form>
</div>
