@model CRUDLogin.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documentoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documentoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idEmpresa">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
