@model IEnumerable<CRUDLogin.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}
<br />
<div class="text-center">
<h1 class="display-5">Nova empresa</h1>
<br/>
<p>
        <a class="btn btn-primary" role="button" asp-action="Create">Criar Nova Empresa</a>
</p>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documentoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documentoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCriacao)
            </td>
            <td>
                <a class="btn btn-secondary" role="button" asp-action="Edit" asp-route-id="@item.idEmpresa">Editar</a> |
                <a class="btn btn-warning" role="button" asp-action="Details" asp-route-id="@item.idEmpresa">Detalhes</a> |
                <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.idEmpresa">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>