@model CRUDLogin.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.nomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documentoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documentoUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idUsuario">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
