@model IEnumerable<CRUDLogin.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
<br />
<h1>Novo usuário</h1>
<br />
<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Criar Novo Usuário</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documentoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.nomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documentoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCriacao)
            </td>
            <td>
                <a class="btn btn-secondary" role="button" asp-action="Edit" asp-route-id="@item.idUsuario">Editar</a> |
                <a class="btn btn-warning" role="button" asp-action="Details" asp-route-id="@item.idUsuario">Detalhes</a> |
                <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.idUsuario">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>